{#include base}
{#body}
<h2>
    {#if !visit}New {/if}
    Visit
</h2>

<b>Pet</b>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Birth Date</th>
            <th>Type</th>
            <th>Owner</th>
        </tr>
    </thead>
    <tr>
        <td>{pet.name}</td>
        <td>{pet.birthDate.format('yyyy-MM-dd')}</td>
        <td>{pet.type.name}</td>
        <td>{pet.owner.firstName} {pet.owner.lastName}</td>
    </tr>
</table>

<form class="form-horizontal" method="post">
    <div class="form-group has-feedback">

        <div class="form-group {#if errors['date'] != null} has-error {/if}">
            <label class="col-sm-2 control-label">Date</label>
            <div class="col-sm-10">
                <div>
                    <input class="form-control" type="text" placeholder="YYYY-MM-DD"
                        id="date" name="date" value="{visit.date ?: ''}"/>
                </div>
                <span class="glyphicon {#if errors['date'] != null} glyphicon-remove {#else} glyphicon-ok {/if} form-control-feedback" aria-hidden="true"></span>
                {#if errors['date'] != null}
                    <span class="help-inline">{errors['date']}</span>
                {/if}
            </div>
        </div>


        <div class="form-group {#if errors['description'] != null} has-error {/if}">
            <label class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <div>
                    <input class="form-control" type="text" id="description" name="description" value="{visit.description ?: ''}" />
                </div>
                <span class="glyphicon {#if errors['description'] != null} glyphicon-remove {#else} glyphicon-ok {/if} form-control-feedback" aria-hidden="true"></span>
                {#if errors['description'] != null}
                    <span class="help-inline">{errors['description']}</span>
                {/if}
            </div>
        </div>

    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="hidden" name="petId" value="1" />
            <button class="btn btn-default" type="submit">Add Visit</button>
        </div>
    </div>
</form>

<br />
<b>Previous Visits</b>
<table class="table table-striped">
    <tr>
        <th>Date</th>
        <th>Description</th>
    </tr>
    <tr>
        {#if visit}
        {#for v in pet.visits}
        <td>{v.date.format('yyyy-MM-dd')}</td>
        <td>{v.description}</td>
        {/for}
        {/if}
    </tr>
</table>
{/body}
{/include}