{#include base}
{#body}
<h2>{msg:owner}</h2>
<form class="form-horizontal" id="add-owner-form" method="post">
    <div class="form-group has-feedback">

        <div class="form-group {#if errors['firstName'] != null} has-error {/if}">
            <label class="col-sm-2 control-label">{msg:name}</label>
            <div class="col-sm-10">
                <div>
                    <input class="form-control" type="text" id="firstName" name="firstName" value="{owner.firstName ?: ''}" />

                </div>
                <span class="glyphicon {#if errors['firstName'] != null} glyphicon-remove {#else} glyphicon-ok {/if} form-control-feedback" aria-hidden="true"></span>
                {#if errors['firstName'] != null}
                    <span class="help-inline">{errors['firstName']}</span>
                {/if}
            </div>
        </div>


        <div class="form-group {#if errors['lastName'] != null} has-error {/if}">
            <label class="col-sm-2 control-label">{msg:last_name}</label>
            <div class="col-sm-10">
                <div>
                    <input class="form-control" type="text" id="lastName" name="lastName" value="{owner.lastName ?: ''}" />

                </div>
                <span class="glyphicon {#if errors['firstName'] != null} glyphicon-remove {#else} glyphicon-ok {/if} form-control-feedback" aria-hidden="true"></span>
                {#if errors['lastName'] != null}
                    <span class="help-inline">{errors['lastName']}</span>
                {/if}
            </div>
        </div>


        <div class="form-group {#if errors['address'] != null} has-error {/if}">
            <label class="col-sm-2 control-label">{msg:address}</label>
            <div class="col-sm-10">
                <div>
                    <input class="form-control" type="text" id="address" name="address" value="{owner.address ?: ''}" />

                </div>
                <span class="glyphicon {#if errors['address'] != null} glyphicon-remove {#else} glyphicon-ok {/if} form-control-feedback" aria-hidden="true"></span>
                {#if errors['address'] != null}
                    <span class="help-inline">{errors['address']}</span>
                {/if}
            </div>
        </div>


        <div class="form-group {#if errors['city'] != null} has-error {/if}">
            <label class="col-sm-2 control-label">{msg:city}</label>
            <div class="col-sm-10">
                <div>
                    <input class="form-control" type="text" id="city" name="city" value="{owner.city ?: ''}" />

                </div>
                <span class="glyphicon {#if errors['city'] != null} glyphicon-remove {#else} glyphicon-ok {/if} form-control-feedback" aria-hidden="true"></span>
                {#if errors['city'] != null}
                    <span class="help-inline">{errors['city']}</span>
                {/if}
            </div>
        </div>


        <div class="form-group {#if errors['telephone'] != null} has-error {/if}">
            <label class="col-sm-2 control-label">{msg:telephone}</label>
            <div class="col-sm-10">
                <div>
                    <input class="form-control" type="text" id="telephone" name="telephone" value="{owner.telephone ?: ''}" />

                </div>
                <span class="glyphicon {#if errors['telephone'] != null} glyphicon-remove {#else} glyphicon-ok {/if} form-control-feedback" aria-hidden="true"></span>
                {#if errors['telephone'] != null}
                    <span class="help-inline">{errors['telephone']}</span>
                {/if}
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" type="submit">
                {#if owner}
                {msg:edit_owner}
                {#else}
                {msg:add_owner}
                {/if}
            </button>
        </div>
    </div>
</form>
{/body}
{/include}