{#include base}
{#body}
<h2>Owners</h2>

<table id="owners" class="table table-striped">
    <thead>
        <tr>
            <th style="width: 150px;">{msg:name}</th>
            <th style="width: 200px;">{msg:address}</th>
            <th>City</th>
            <th style="width: 120px">{msg:telephone}</th>
            <th>{msg:pets}</th>
        </tr>
    </thead>
    <tbody>
        {#for owner in owners}
        <tr>
            <td>
                <a href="/owners/{owner.id}"/>{owner.firstName} {owner.lastName}</a>
            </td>
            <td>{owner.address}</td>
            <td>{owner.city}</td>
            <td>{owner.telephone}</td>
            <td>
                {#for pet in owner.pets}
                    <span>{pet.name}</span>
                {/for}
            </td>
        </tr>
        {/for}
    </tbody>
</table>
{/body}
{/include}